html {
  body {
    width: 100vw;
    font-family: "system-ui";
    color: $text-color;
    background-color: $home-background-color;
    main {
      margin-top: 60px;
    }
    a {
      color: $link-color;
    }
    .span.separator {
      color: $defocus-color;
    }
    .none-display {
      display: none;
    }
    a,
    button {
      &:hover {
        cursor: pointer;
      }
    }
    .danger {
      color: $danger-color;
    }
  }
}
