html {
  body {
    width: 100vw;
    height: 100vh;
    font-family: "system-ui";
    color: $text-color;
    background-color: $brand-color;
    a {
      color: $link-color;
    }
    .span.separator {
      color: $defocus-color;
    }
    .none-display {
      display: none;
    }
    a,
    button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
