// Configuration

@import "./configuration/_variables.scss", "./configuration/_reset.scss", "./configuration/_default.scss";

// Components

@import "./components/header.scss", "./components/button.scss", "./components/inputs.scss", "./components/mixins.scss",
  "./components/poster-card.scss";

// Screens

@import "./screens/home.scss", "./screens/new.scss", "./screens/watch.scss", "./screens/profile.scss",
  "./screens/edit.scss", "./screens/search.scss";

// Animations

@import "./animations/hide.scss";

// API Styles

@import "/node_modules/github-markdown-css/github-markdown.css";

header {
  position: fixed;
}
