#home {
  display: flex;
  width: 100%;
  .side-bar {
    padding: 0px 27px;
    max-width: 330px;
    width: 25vw;
    height: 100vh;
    background-color: $brand-color-light;
    border-right: 1px solid rgba($color: $defocus-color, $alpha: 0.8);
    .my-posters {
      padding: 25px 0px;
      .my-posters__search {
        position: relative;
        .my-posters__search__title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            &:first-child {
              font: {
                weight: 400;
                size: 16px;
              }
            }
          }
        }
        .my-posters__search__input {
          margin: {
            top: 10px;
            left: 0px;
            right: 0px;
            bottom: 0px;
          }
          input {
            width: 90%;
          }
        }
      }
      .my-posters__result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 0px;
        #myPosterLink {
          margin-right: auto;
        }
      }
    }
  }
  .home-main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    .sug-posters {
      display: flex;
      width: 100%;
      .sug-posters__title {
        padding: 40px 20px;
        width: 100%;
        span {
          &:first-child {
            margin-bottom: 30px;
            font-size: 18px;
          }
        }
        .sug-posters__title__title {
          margin-bottom: 30px;
        }
      }
      .sug-posters-card__info {
        #info {
          display: flex;
        }
      }
    }
    .sug-topics {
      min-width: 350px;
    }
  }
}
