input {
  background-color: $brand-color;
  padding: 6px 14px;
  color: $text-color;
  border-radius: 5px;
  border: 1px solid rgba($color: $defocus-color, $alpha: 1);
  &:focus {
    outline: 0.8px solid rgba($color: $link-color, $alpha: 1);
  }
}
