extends ../base
include ../components/top-bar
//- https://github.com/Novelier-Webbelier/poster/edit/master/README.md

block content
  .edit-poster
    +posterTopBar(poster)
    .edit-poster__main
      .edit-poster__address
        span
          a(href=`/${loggedInUser.username}`)=loggedInUser.username
        span.separator  / 
        span
          a(href=`/${loggedInUser.username}/${poster.title}`)=poster.title
      #edit(data-poster-info={
        owner: poster.owner.username,
        editingUserId: loggedInUser._id,
        title: poster.title
      })
        .edit-poster__title
          .watch-poster__main__content
            .poster__title
              .poster__title__element
                i.fas.fa-list
                span=poster.title
              .poster__title__element
                i.fas.fa-code#editPosterBtn.selected
                  span Edit Poster
                i.fas.fa-eye#previewBtn
                  span Preview Poster
        .edit-poster__main
          .edit-poster__edit
            form(method="POST")
              textarea(name="content", cols="30", rows="10")#content=poster.text
          .edit-poster__preview.none-display
            .watch-poster__main__content
              #poster(data-content=poster.text)
                .markdown-body
                  :markdown-it(linkify langPrefix='highlight-')=poster.text

        hr(noshade)

        .edit-poster__submit
          input(type="submit", value="Save changes")#saveChanges.good-button
          input(type="submit", value="Cancel")#cancel.cancel-button

block scripts
  script(src="/static/js/edit.js")
