extends ../base
include ../components/top-bar
//- https://github.com/Novelier-Webbelier/poster/edit/master/README.md

block content
  .edit-poster
    +topBar(poster)
    .edit-poster__main
      .edit-poster__address
        span
          a(href=`/${loggedInUser.username}`)=loggedInUser.username
        span / 
        span
          a(href=`/${loggedInUser.username}/${poster.title}`)=poster.title
      #edit
        form(method="POST")
          //- TODO : Render the edit poster section
          textarea(name="content", cols="30", rows="10")=poster.text
          input(type="submit", value="Save changes")
