extends ../base
//- https://github.com/new

block content
  .new-poster-main
    .new-poster
      .new-poster__title
        h1 Create a new poster
      hr(noshade)
      if errorMessage
        span#errorMessage=errorMessage
      form(method="POST", autocomplete="off")
        .new-poster__inputs-group
          .new-poster__input__top
            .new-poster__input__top__top
              div
                label(for="owner") Owner
                  span.danger  *
                button(type="button",id="owner")
                  img(src=loggedInUser.avatarUrl)
                  span=loggedInUser.username

              span.separator  / 

              div
                label(for="postername") Poster name
                  span.danger  *
                input(type="text", placeholder="Awesome poster...", id="poster-name", name="posterTitle", required, maxLength=25)
            .new-poster__input__top__mid
              label(for="description") Description 
                span.separator.optional (optional)
              input(type="text", id="description", name="posterDescription", maxLength=300)
              hr(noshade)
          .new-poster__input__bottom
            label(for="topic") Topic
              span.danger  *
            input(type="text", id="topic", name="topicName", required)
            //- span.new-poster__error-message There is this topic.
            //-   a(href="") Would you like to see a topic?
            hr(noshade)

        .new-poster__submit
          input(type="submit", value="Create poster").good-button__not-ready
