header
  .header__row
    .header-row__element
      a(href="/")
        span.logo P
    .header-row__element
      input(type="text", placeholder="Search or jump to...")
    .header-row__element
      a(href="/random/topic")
        span Random Topic
    .header-row__element
      a(href="/random/poster")
        span Random Poster
    .header-row__element

  if loggedIn
    .header__row
      details.sug-create
        summary
          i.fa.fa-plus
        .details__element
          a(href="/new") Create New Poster
        .details__element
          a(href="/topics/new") Create New Topic

      details.sug-profile
        summary
          span Your Profile
        .details__element
          a(href=`/${loggedInUser.username}`) Signed in as '#{loggedInUser.username}'
        .details__element
          a(href="/new") Create New Poster
        .details__element
          a(href="/topics/new") Create New Topic
        .details__element
          a(href="/logout") Logout
  else
    .header__row
      .header-row__element
        a(href="/login")
          span Sign in
      .header-row__element
        a(href="/join")
          span Sign up
