header
  .header__row
    .header-row__element
      a(href="/")
        span Poster
    .header-row__element
      form
        input(type="text")
    .header-row__element
      a(href="/random/topic")
        span Watch Random Topic
    .header-row__element
      a(href="/random/poster")
        span Watch Random Poster
    .header-row__element
      a(href="/logout")
        span Logout

  .header__row
    details.sug-create
      summary
        i.fa.fa-plus
      .details__element
        a(href="/new") Create New Poster
      .details__element
        a(href="/topics/new") Create New Topic

    a(href=`/${loggedInUser.username}`)
      //- TODO : Change this from text to image that logged in user
      span !Your Profile!
