header.header-not-login
  .header__row
    .header-row__element
      a(href="/")
        span Poster
    .header-row__element
      a(href="/random/topic")
        span Watch Random Topic
    .header-row__element
      a(href="/random/poster")
        span Watch Random Poster

  .header__row
    .header-row__element
      a(href="/search")
        span Search
    .header-row__element
      a(href="/login")
        span Sign in
    .header-row__element
      a(href="/join")
        span Sign up
