header.header
  .header__row
    a(href="/")
      span Poster
    a(href="/search")
      span Search
    a(href="/topics/random")
      span Watch Random Topic

  .header__row
    //- TODO : add details-menu with https://github.com/github/details-menu-element
    details
      span +
    details
      //- TODO : Change this from text to image that logged in user
      span Profile
