extends base
include ./components/my-posters-link
include ./components/suggestion-card

block content
  #home
    .side-bar
      .my-posters
        .my-posters__search
          .my-posters__search__title
            span Posters
            button.new-btn#createNewPosterBtn
              i.fa.fa-book
              span New
          .my-posters__search__input
            input#searchInMyPoster(type="text", placeholder="Find a poster...")

        .my-posters__result
          for myPoster in myPosters
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
            +myPostersLink(myPoster, myPoster.owner.avatarUrl)
          else
            span You have no posters. 
            button.new-btn#createNewPosterBtn
              i.fa.fa-book
              span Create one now!

    .home-main
      .sug-posters
        .sug-posters__title
          .sug-posters__title__title
            span Suggestion Posters
          for sugPoster in sugPosters
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)
            +suggestionPosterCard(sugPoster)

          else
            //- TODO : Pug link "/random/poster"
            button.random-btn.new-btn#watchRandomPosterBtn
              i.fas.fa-dice
              span Random Poster

      .sug-topics
        .sug-topics__title
          .sug-topics__title__title
            span Suggestion Topics
          for sugTopic in sugTopics
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
            +suggestionTopicCard(sugTopic)
          else
            //- TODO : Pug link "/random/topic"
            button.random-btn.new-btn#watchRandomTopicBtn
              i.fas.fa-dice
              span Random Topic

block scripts
  script(src="/static/js/link.js")
