extends base
include ./components/my-posters-link
include ./components/suggestion-poster-card
include ./components/suggestion-topic-card

block content
  .side-bar
    .my-posters
      .my-posters__search
        .my-posters__title
          span Posters
          //- TODO : Pug link "/new"
          button
            i.fa.fa-book
            span New
        .my-posters__input
          input#searchInMyPoster(type="text", placeholder="Find a poster...")

      .my-posters__result
        for myPoster in myPosters
          +myPostersLink(myPoster)
        else
          //- TODO : Pug link "/new"
          button
            i.fa.fa-book
            span Create new one!

  .home
    .sug-posters
      .sug-posters__title
        span Suggestion Posters
        for sugPoster in sugPosters
          +suggestionPosterCard(sugPoster)
        else
          //- TODO : Pug link "/random/poster"
          button
            i.fas.fa-dice
            span !There is no suggestion posters. Watch Random Poster?!

    .sug-topics
      .sug-topics__title
        span Suggestion Topics
        for sugTopic in sugTopics
          +suggestionTopicCard(sugTopic)
        else
          //- TODO : Pug link "/random/topic"
          button
            i.fas.fa-dice
            span !There is no suggestion topics. Watch Random Topic?!
