extends base
include ./components/my-posters-link
include ./components/suggestion-poster-card
include ./components/suggestion-topic-card

block content
  .side-bar
    .my-posters
      .my-posters__search
        .my-posters__title
          span Posters
          button
            i.fa.fa-book
            span New
        .my-posters__input
          input#searchInMyPoster(type="text", placeholder="Find a poster...")
      .my-posters__result
        each result in [{ title: "HI" }]
          +myPostersLink(result.title)
        else
          button
            i.fa.fa-book
            span Create new one!

  .home
    .sug-posters
      .sug-posters__title
        span Suggestion Posters
        for sugPos in [{ title: "Suggestion Poster 1", topic: { title: "suggestions1" }, owner: { username: "Novelier" } }, { title: "Suggestion Poster 2", topic: { title: "suggestions2" }, owner: { username: "Webbelier" } } ]
          +suggestionPosterCard(sugPos)
    .sug-topics
      .sug-topics__title
        span Suggestion Topics
        for sugTo in [ { title: "Suggestion Topic 1", description: "Description topic \of 1", posters: [ {}, {}, {} ], meta: { star: 4, } }, { title: "Suggestion Topic 2", description: "a", posters: [ {}, {}, {}, {}, {} ], meta: { star: 2.4, }}, ]
          +suggestionTopicCard(sugTo)
