extends base
include ./components/search-poster-card
//- https://github.com/search?q=a

block content
  .search
    .review
      .review__element.selected#postersBtn
        span Posters
        span=searchPoster.length
      .review__element#topicsBtn
        span Topics
        span=searchTopic.length

    .result
      .result__element#postersBox
        .result__title
          span #{searchPoster.length} poster results
        .result__main
          for poster in searchPoster
            +searchCard("poster", poster)

      .result__element.none-display#topicsBox
        .result__title
          span #{searchTopic.length} topic results
        .result__main
          for topic in searchTopic
            +searchCard("topic", topic)
