mixin pinTopic(allTopic)
  #myPosters
    each topic in allTopic
      div
        div
          i.fa.fa-lightbulb
          h4=topic.title
        div
          p=topic.description
        div
          i.fa.fa-lightbulb
          span=topic.type
