include ../components/info
include ../components/info-info

mixin posterCard(poster)
  #posterCard
    .poster-card__top-bar
      .poster-card__top-bar__title
        i.fa.fa-book
        a(href=`/${poster.owner.username}`)=poster.owner.username
        span.separator  /
        a(href=`/${poster.owner.username}/${poster.title}`)=poster.title
      .poster-card__top-bar__info
        +star(poster.meta.star)
    .poster-card__bottom-bar
      .poster-card__bottom-bar__description
        if !poster.descriptiown
          p This poster have no description
        else
          p=poster.descriptiown
      .poster-card__bottom-bar__created-at
        span=poster.createdAt
