mixin searchCard(type, value)
  include ./info-info
  #searchCard.search-card
    .search-card__icon
      if type === "poster"
        i.fa.fa-book
      else if type === "topic"
        i.fa.fa-lightbulb
    .search-card__main
      .search-card__main__top-bar
        if type === "poster"
          +bookWithTitle(value)
        else if type === "topic"
          +topicWithTitle(value)
      .search-card__main__mid-bar
        p.description=value.description
      .search-card__main__bottom-bar
        +star(value.meta.star)
        span.separator |
        if type === "poster"
          +topicWithTitle(value.topic)
        else if type === "topic"
          +posterNum(value.posters)
        span.separator |
        +timeAgo(value.createdAt)
