mixin suggestionTopicCard(suggestionTopic)
  #sugTopicCard
    .sug-topic-card__top-bar
      span=suggestionTopic.title
      span=suggestionTopic.description
    .sug-topic-card__bottom-bar
      i.fa.fa-book=suggestionTopic.posters.length
      i.far.fa-star=suggestionTopic.meta.star
