mixin suggestionPosterCard(suggestionPoster)
  .sug-posters-card
    .sug-posters-card__top-bar
      //- TODO : Change this from text to image of creator
      span.sug-posters-card__img=suggestionPoster.owner.username
      span.sug-posters-card__creator-name=suggestionPoster.owner.username
    .sug-posters-card__main
      span.sug-posters-card__title=suggestionPoster.title
      span.sug-posters-card__topic Topic : #{suggestionPoster.topic.title}
      button
        i.far.fa-eye
        span Watch
