mixin posterTopBar(poster)
  include ./info
  #posterTopBar
    .top-bar__user-info
      i.fa.fa-book
      a(href=`/${poster.owner.username}`)=poster.owner.username
      span.separator  / 
      a(href=`/${poster.owner.username}/${poster.title}`)=poster.title
    .top-bar__poster-info
      +info(poster.meta.views, poster.meta.rating, poster.meta.star)
