extends ../base-not-login

block content
  .account
    .logo
    img(src="/uploads/logo.png")
    h1 Sign in to Poster
    if errorMessage
      span#errorMessage=errorMessage
    .account-box
      form(method="POST")
        .account-box__element
          label(for="usernameOrEmail")  Username or email address
          input(type="text", id="usernameOrEmail", name="usernameOrEmail")
        .account-box__element
          label(for="password")  Password
          input(type="password", id="password", name="password")
        .account-box__element
          input(type="submit", value="Sign in").good-button
    .create-an-account
      span New to Poster?
      a(href="/join")
        span Create an account now &rarr;
